## Perform Exploratory Data Analysis on the data set

### I- Assessing
In this stage we display the data we're going to import to assess its Quality and Tidiness.

Quality dimensions or aspects are mainly:

**1**- Completness (checking if there are any missing records).

**2**- Validity (Checking if the values displayed are 'valid' i.e data that follow certain known rules)

**3**- Accuracy (a significant decrease or increase in a value is considered an 'inaccurate data')

**4**- Consistency (There should be only one way to represent or refer to a value otherwise the data is called to be 'inconsistent')

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy as np
data =pd.read_csv('loansData.csv')
data.shape

(2500, 15)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CustID                          2500 non-null   int64
 1   Amount.Requested                2500 non-null   int64
 2   Amount.Funded.By.Investors      2500 non-null   float64
 3   Interest.Rate                   2500 non-null   object
 4   Loan.Length                     2500 non-null   object
 5   Loan.Purpose                    2500 non-null   object
 6   Debt.To.Income.Ratio            2500 non-null   object
 7   State                           2500 non-null   object
 8   Home.Ownership                  2500 non-null   object
 9   Monthly.Income                  2499 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2498 non-null   float64
 12  Revolving.CREDIT.Balance        2498 non-null   float64
 13  Inquiries.in.the.Last.6.Months  2498 non-null   float64
 14  Employment.Length               2423 non-null   object
dtypes: float64(5), int64(2), object(8)
memory usage: 293.1+ KB

In [3]:
data.head(5)

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [4]:
data.tail(5)

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
2495,23735,30000,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,65882,16000,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,55610,10000,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,38576,6000,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [5]:
data.describe()

,CustID,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2500.000000,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,51631.597200,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325
std,30053.345508,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036
min,10.000000,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,26523.000000,6000.000000,6000.000000,3500.000000,7.000000,5585.750000,0.000000
50%,50653.000000,10000.000000,10000.000000,5000.000000,9.000000,10962.000000,0.000000
75%,77580.500000,17000.000000,16000.000000,6800.000000,13.000000,18888.750000,1.000000
max,104202.000000,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

# Check for missing values

In [6]:
# using isnull() function  
data.isnull().sum()

CustID                             0
Amount.Requested                   0
Amount.Funded.By.Investors         0
Interest.Rate                      0
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               0
State                              0
Home.Ownership                     0
Monthly.Income                     1
FICO.Range                         0
Open.CREDIT.Lines                  2
Revolving.CREDIT.Balance           2
Inquiries.in.the.Last.6.Months     2
Employment.Length                 77
dtype: int64

Replace missing Monthly.Income with median 


> Since income has a skewed distribution it is better to perform median imputation as compared to mean or mode.

In [7]:
median_income = data['Monthly.Income'].median()
data['Monthly.Income'].fillna(median_income, inplace=True)

Impute Open.CREDIT.Lines, Revolving.CREDIT.Balance, Inquiries.in.the.Last.6.Months, Employment.Length using Mean

In [8]:
data['Open.CREDIT.Lines'].fillna(data['Open.CREDIT.Lines'].mean(), inplace=True)
data['Revolving.CREDIT.Balance'].fillna(data['Revolving.CREDIT.Balance'].mean(), inplace=True)
data['Inquiries.in.the.Last.6.Months'].fillna(data['Inquiries.in.the.Last.6.Months'].mean(), inplace=True)
data['Inquiries.in.the.Last.6.Months'].fillna(data['Inquiries.in.the.Last.6.Months'].mean(), inplace=True)

#Clean data

Remove % sign from Interest.Rate column

In [9]:
data["Interest.Rate"] = data["Interest.Rate"].str.replace("%","")

Remove "months" from Loan.Length

In [10]:
data["Loan.Length"] = data["Loan.Length"].str.replace(" months","")

Considering only lower limit of FICO.Range

> Considering lower credit score of customer provides a less risk for company

In [11]:
data['FICO.Range'] = data['FICO.Range'].str.slice(0, 3)

Extract numerical value from Employment.Length

In [12]:
data["Employment.Length"] = data["Employment.Length"].str.replace("< ","")
data['Employment.Length'] = data['Employment.Length'].str.slice(0, 2)
data["Employment.Length"] = data["Employment.Length"].str.replace(" ","")

Converting Interest.Rate, Loan.Length, FICO.Range, Monthly.Income to numeric

In [13]:
data['Interest.Rate'] = data['Interest.Rate'].astype(float).astype(int)
data['Loan.Length'] = data['Loan.Length'].astype(float).astype(int)
data['FICO.Range'] = data['FICO.Range'].astype(float).astype(int)
data['Monthly.Income'] = data['Monthly.Income'].astype(int)

Convert Employment.Length from object to string to float

In [14]:
data['Employment.Length'] = data['Employment.Length'].astype(str).astype(float)

Replace missing values with mean value

In [15]:
data['Employment.Length'].fillna(data['Employment.Length'].mean(), inplace=True)

Convert Employment.Length from float to int

In [16]:
data['Employment.Length'] = data['Employment.Length'].astype(int)

Remove % sign from Debt.To.Income.Ratio

In [17]:
data["Debt.To.Income.Ratio"] = data["Debt.To.Income.Ratio"].str.replace("%","")

#Encoding for Categorical Data

> We will replace all categorical variables with numerical values.

Loan.Purpose and Home.Ownership

In [18]:
cleanup_nums = {"Loan.Purpose":     {'car': 0, 'credit_card': 1, 'debt_consolidation': 2, 'educational': 3, 'home_improvement': 4, 'house': 5, 'major_purchase': 6, 'medical': 7, 'moving': 8, 'other': 9, 'renewable_energy': 10, 'small_business': 11, 'vacation': 12, 'wedding': 13},
                "Home.Ownership":     {'MORTGAGE': 0, 'NONE': 1, 'OTHER': 2, 'OWN': 3, 'RENT': 4}}
data = data.replace(cleanup_nums)

#Let us take a look at the cleaned data

In [19]:
data.head()

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174,20000,20000.0,8,36,2,14.90,SC,0,6541,735,14.0,14272.0,2.0,1
1,99592,19200,19200.0,12,36,2,28.36,TX,0,4583,715,12.0,11140.0,1.0,2
2,80059,35000,35000.0,21,60,2,23.81,CA,0,11500,690,14.0,21977.0,1.0,2
3,15825,10000,9975.0,9,36,2,14.30,KS,0,3833,695,10.0,9346.0,0.0,5
4,33182,12000,12000.0,11,36,1,18.78,NJ,4,3195,695,11.0,14469.0,0.0,9

# Building Model

Determing the Independent (predictor) and Dependent (response) variables

In [20]:
# X -> features, y -> label
X = data.loc[:, ~data.columns.isin(['CustID', 'State', 'Interest.Rate'])]
Y = data['Interest.Rate']

Load libraries

In [21]:
# importing necessary libraries
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import mean_absolute_error

Split Data

In [22]:
# dividing X, y into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0)

Linear Regression

In [23]:
# training a LinearRegression
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_predictions = linear_model.predict(X_test)
 
# Report how well the model is performing
print("Model training results:")

# Report an error rate on the training set
mse_train = mean_absolute_error(y_train, linear_model.predict(X_train))
print(f" - Training Set Error: {mse_train}")

# Report an error rate on the test set
mse_test = mean_absolute_error(y_test, linear_model.predict(X_test))
print(f" - Test Set Error: {mse_test}")

Model training results:
 - Training Set Error: 1.5984695539578866
 - Test Set Error: 1.6020132460814795

Gradient Boosting Regressor

In [24]:
# training a GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)
gbr_predictions = gbr.predict(X_test)
 
# Report how well the model is performing
print("Model training results:")

# Report an error rate on the training set
mse_train = mean_absolute_error(y_train, gbr.predict(X_train))
print(f" - Training Set Error: {mse_train}")

# Report an error rate on the test set
mse_test = mean_absolute_error(y_test, gbr.predict(X_test))
print(f" - Test Set Error: {mse_test}")

Model training results:
 - Training Set Error: 1.0849147790241953
 - Test Set Error: 1.282605986425403

Decision Tree Regressor

In [25]:
# training a DescisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
dtree_model = DecisionTreeRegressor(max_depth = 2).fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)
 
# Report how well the model is performing
print("Model training results:")

# Report an error rate on the training set
mse_train = mean_absolute_error(y_train, dtree_model.predict(X_train))
print(f" - Training Set Error: {mse_train}")

# Report an error rate on the test set
mse_test = mean_absolute_error(y_test, dtree_model.predict(X_test))
print(f" - Test Set Error: {mse_test}")

Model training results:
 - Training Set Error: 2.161516626911835
 - Test Set Error: 2.194016875747028

Stochastic Gradient Descent (SGD) Regressor

In [26]:
# training a linear SGD Regressor
from sklearn.linear_model import SGDRegressor
sgd_model = SGDRegressor(random_state = 0).fit(X_train, y_train)
sgd_predictions = sgd_model.predict(X_test)
 
# Report how well the model is performing
print("Model training results:")

# Report an error rate on the training set
mse_train = mean_absolute_error(y_train, sgd_model.predict(X_train))
print(f" - Training Set Error: {mse_train}")

# Report an error rate on the test set
mse_test = mean_absolute_error(y_test, sgd_model.predict(X_test))
print(f" - Test Set Error: {mse_test}")

Model training results:
 - Training Set Error: 5.362814158302556e+17
 - Test Set Error: 5.558748063523624e+17

K-nearest neighbors (KNN) Regressor

In [27]:
# training a KNN Regressor
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 7).fit(X_train, y_train)
 
# Report how well the model is performing
print("Model training results:")

# Report an error rate on the training set
mse_train = mean_absolute_error(y_train, knn.predict(X_train))
print(f" - Training Set Error: {mse_train}")

# Report an error rate on the test set
mse_test = mean_absolute_error(y_test, knn.predict(X_test))
print(f" - Test Set Error: {mse_test}")

Model training results:
 - Training Set Error: 2.894704761904762
 - Test Set Error: 3.230628571428571

##Conclusion

Mean Squared Error, or MSE for short, is a popular error metric for regression problems.

It is also an important loss function for algorithms fit or optimized using the least squares framing of a regression problem. Here least squares refers to minimizing the mean squared error between predictions and expected values.

The MSE is calculated as the mean or average of the squared differences between predicted and expected target values in a dataset.

MSE = 1 / N * sum for i to N (y_i  yhat_i)^2
Where y_i is the ith expected value in the dataset and yhat_i is the ith predicted value. The difference between these two values is squared, which has the effect of removing the sign, resulting in a positive error value.

The squaring also has the effect of inflating or magnifying large errors. That is, the larger the difference between the predicted and expected values, the larger the resulting squared positive error. This has the effect of punishing models more for larger errors when MSE is used as a loss function. It also has the effect of punishing models by inflating the average error score when used as a metric.

![image.png]()

Gradient Boosting Regressor has the least MSE implying it is the best suited regression algorithm for the given data followed closely by Linear Regression Model.
Stochastic Gradient Descent, on the other hand has the highest MSE value.

##Pickle Model

In [28]:
# install package
!pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [29]:
import joblib
# Save the trained model to a file so we can use it to make predictions later
joblib.dump(gbr, 'gboost.pkl')

['gboost.pkl']

##Let's start building the Web API

Import libraries

In [31]:
!pip install streamlit
!pip install pyngrok===4.1.1
!pip install plotly
!pip install icd10-cm
!pip install scikit-learn
!pip install bz2file
from pyngrok import ngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit in /usr/local/lib/python3.7/dist-packages (1.10.0)
Requirement already satisfied: watchdog in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.1.9)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.1.27)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.4.0)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.11.4)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: blinker in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.4)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.0.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.0.1)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.7.1)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.17.3)
Requirement already satisfied: rich in /usr/local/lib/python3.7/dist-packages (from streamlit) (12.4.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.3)
Requirement already satisfied: semver in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.13.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.21.6)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.1)
Requirement already satisfied: validators in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.20.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.2)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->streamlit) (3.8.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.7.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<4,>=3.12->streamlit) (1.15.0)
Requirement already satisfied: traitlets>=4.3.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: ipykernel>=5.1.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (6.13.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (7.7.0)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.5)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.3)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (7.3.4)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (7.34.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.4.8)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (3.0.29)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.4.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.1.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.4.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: pyzmq>=23.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (23.0.0)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.10.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.15.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.8.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.0.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->streamlit) (3.0.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (1.24.3)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from rich->streamlit) (0.9.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok===4.1.1 in /usr/local/lib/python3.7/dist-packages (4.1.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok===4.1.1) (3.13)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyngrok===4.1.1) (0.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: icd10-cm in /usr/local/lib/python3.7/dist-packages (0.0.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bz2file in /usr/local/lib/python3.7/dist-packages (0.98)

Building the front-end

In [32]:
%%writefile loanapp.py
import streamlit as st
import sklearn
import pandas as pd
import numpy as np
import pickle
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import LabelEncoder
import joblib

st.set_page_config(page_title="Loan Interest Prediction App",page_icon="",layout="centered",initial_sidebar_state="expanded")

st.sidebar.header('User Input Parameters')
   
    # front end elements of the web page 
html_temp = """ 
    <div style ="background-color:light blue;padding:13px"> 
    <h1 style ="color:pink;text-align:center;">Loan Interest Prediction App"</h1> 
    </div> 
    """
      
# display the front end aspect
st.markdown(html_temp, unsafe_allow_html = True) 
st.subheader('by Manusree Banerjee')
      
# following lines create boxes in which user can enter data required to make prediction
custid=st.sidebar.text_input("Customer ID")
amt_reqstd = st.sidebar.number_input('Amount requested (in $)', min_value=0, max_value=50000, step=1)
amt_fund = st.sidebar.number_input('Amount funded by investors (in $)', min_value=0, max_value=50000, step=1)
loan_len = st.sidebar.slider('Loan length (in months)', min_value=0, max_value=30)
loan_purp = st.sidebar.selectbox('Loan purpose', ('Car', 'Credit card', 'Debt consolidation', 'Educational', 'Home improvement', 'House', 'Major purchase', 'Medical', 'Moving', 'Renewable energy', 'Small business', 'Vacation',  'Wedding',  'Other'))
debt_inc_ratio = st.sidebar.slider('Debt to income ratio', min_value=0, max_value=40)
hom_own = st.sidebar.selectbox('Home ownership', ('MORTGAGE', 'RENT', 'OWN', 'OTHER', 'NONE'))
mon_inc = st.sidebar.number_input('Monthly income (in $)')
fico = st.sidebar.slider('FICO score', min_value=350, max_value=850)
cred_line = st.sidebar.slider('Open credit lines', min_value=0, max_value=40)
cred_bal = st.sidebar.number_input('Revolving credit balance (in $)')
inq_6_mont = st.sidebar.slider('Inquiries in last 6 months', min_value=0, max_value=15)
emp_len = st.sidebar.selectbox('Employment length in years', ('<1', '2', '3', '4', '5', '6', '7', '8', '9', '>10', 'na'))



# Assign value to Loan Purpose
purp_dict = {'Car': 0, 'Credit card': 1, 'Debt consolidation': 2, 'Educational': 3, 'Home improvement': 4, 'House': 5, 'Major purchase': 6, 'Medical': 7, 'Moving': 8, 'Other': 9, 'Renewable energy': 10, 'Small business': 11, 'Vacation': 12, 'Wedding': 13}
# Get value from the dictionary
purpose = purp_dict.get(loan_purp)

# Assign value to  Home Ownership
homeown_dict = {'MORTGAGE': 0, 'NONE': 1, 'OTHER': 2, 'OWN': 3, 'RENT': 4}
# Get value from the dictionary
ownership = homeown_dict.get(hom_own)

# Convert Employment length to whole number
if emp_len =='<1':
  emp_len=1
elif emp_len == '>10':
  emp_len=10
else :
  emp_len=emp_len

if st.button("PREDICT"):
    user_input=[[amt_reqstd,amt_fund,loan_len,purpose,debt_inc_ratio,ownership,mon_inc,fico,cred_line,cred_bal,inq_6_mont,emp_len]]
    #load the model from disk
    loaded_model = joblib.load("gboost.pkl")
    int_rate = loaded_model.predict(user_input) 
    st.write("Interest Rate assigned is ",round(int_rate[0],2)," % per annum.")


st.info("Don't forget to rate this app")
  
feedback = st.slider('How much would you rate this app?',min_value=0,max_value=5,step=1)
  
if feedback:
    st.header("Thank you for rating the app!")


st.subheader("About App")

st.info("This web app helps you to calculate interest rate on loan based on a customer's background.")
st.info("Enter the required fields and click on the 'PREDICT' button to calculate interest rate.")


st.caption("Caution: This is just a prediction and may not be exact.")

Writing loanapp.py