## Perform Exploratory Data Analysis on the data set

### I- Assessing
In this stage we display the data we're going to import to assess its Quality and Tidiness.

Quality dimensions or aspects are mainly:

**1**- Completness (checking if there are any missing records).

**2**- Validity (Checking if the values displayed are 'valid' i.e data that follow certain known rules)

**3**- Accuracy (a significant decrease or increase in a value is considered an 'inaccurate data')

**4**- Consistency (There should be only one way to represent or refer to a value otherwise the data is called to be 'inconsistent')

In [115]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy as np
data =pd.read_csv('loansData.csv')
data.shape

(2500, 15)

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CustID                          2500 non-null   int64
 1   Amount.Requested                2500 non-null   int64
 2   Amount.Funded.By.Investors      2500 non-null   float64
 3   Interest.Rate                   2500 non-null   object
 4   Loan.Length                     2500 non-null   object
 5   Loan.Purpose                    2500 non-null   object
 6   Debt.To.Income.Ratio            2500 non-null   object
 7   State                           2500 non-null   object
 8   Home.Ownership                  2500 non-null   object
 9   Monthly.Income                  2499 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2498 non-null   float64
 12  Revolving.CREDIT.Balance        2498 non-null   float64
 13  Inquiries.in.the.Last.6.Months  2498 non-null   float64
 14  Employment.Length               2423 non-null   object
dtypes: float64(5), int64(2), object(8)
memory usage: 293.1+ KB

In [117]:
data.head(5)

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [118]:
data.tail(5)

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
2495,23735,30000,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,65882,16000,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,55610,10000,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,38576,6000,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [119]:
data.describe()

,CustID,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2500.000000,2500.000000,2500.000000,2499.000000,2498.000000,2498.000000,2498.000000
mean,51631.597200,12406.500000,12001.573236,5688.931321,10.075661,15244.559648,0.906325
std,30053.345508,7801.544872,7745.320754,3963.118185,4.508644,18308.549795,1.231036
min,10.000000,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,26523.000000,6000.000000,6000.000000,3500.000000,7.000000,5585.750000,0.000000
50%,50653.000000,10000.000000,10000.000000,5000.000000,9.000000,10962.000000,0.000000
75%,77580.500000,17000.000000,16000.000000,6800.000000,13.000000,18888.750000,1.000000
max,104202.000000,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

# Check for missing values

In [120]:
# using isnull() function  
data.isnull().sum()

CustID                             0
Amount.Requested                   0
Amount.Funded.By.Investors         0
Interest.Rate                      0
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               0
State                              0
Home.Ownership                     0
Monthly.Income                     1
FICO.Range                         0
Open.CREDIT.Lines                  2
Revolving.CREDIT.Balance           2
Inquiries.in.the.Last.6.Months     2
Employment.Length                 77
dtype: int64

Replace missing Monthly.Income with median 


> Since income has a skewed distribution it is better to perform median imputation as compared to mean or mode.

In [121]:
median_income = data['Monthly.Income'].median()
data['Monthly.Income'].fillna(median_income, inplace=True)

Impute Open.CREDIT.Lines, Revolving.CREDIT.Balance, Inquiries.in.the.Last.6.Months, Employment.Length using Mean

In [122]:
data['Open.CREDIT.Lines'].fillna(data['Open.CREDIT.Lines'].mean(), inplace=True)
data['Revolving.CREDIT.Balance'].fillna(data['Revolving.CREDIT.Balance'].mean(), inplace=True)
data['Inquiries.in.the.Last.6.Months'].fillna(data['Inquiries.in.the.Last.6.Months'].mean(), inplace=True)
data['Inquiries.in.the.Last.6.Months'].fillna(data['Inquiries.in.the.Last.6.Months'].mean(), inplace=True)

#Clean data

Remove % sign from Interest.Rate column

In [123]:
data["Interest.Rate"] = data["Interest.Rate"].str.replace("%","")

Remove "months" from Loan.Length

In [124]:
data["Loan.Length"] = data["Loan.Length"].str.replace(" months","")

Considering only lower limit of FICO.Range

> Considering lower credit score of customer provides a less risk for company

In [125]:
data['FICO.Range'] = data['FICO.Range'].str.slice(0, 3)

Extract numerical value from Employment.Length

In [126]:
data["Employment.Length"] = data["Employment.Length"].str.replace("< ","")
data['Employment.Length'] = data['Employment.Length'].str.slice(0, 2)
data["Employment.Length"] = data["Employment.Length"].str.replace(" ","")

In [127]:
data['Employment.Length'].unique()

array(['1', '2', '5', '9', '3', '10', '8', '6', '7', '4', nan],
      dtype=object)

Converting Interest.Rate, Loan.Length, FICO.Range, Monthly.Income to numeric

In [128]:
data['Interest.Rate'] = data['Interest.Rate'].astype(float).astype(int)
data['Loan.Length'] = data['Loan.Length'].astype(float).astype(int)
data['FICO.Range'] = data['FICO.Range'].astype(float).astype(int)
data['Monthly.Income'] = data['Monthly.Income'].astype(int)

Convert Employment.Length from object to string to float

In [129]:
data['Employment.Length'] = data['Employment.Length'].astype(str).astype(float)

Replace missing values with mean value

In [130]:
data['Employment.Length'].fillna(data['Employment.Length'].mean(), inplace=True)

Convert Employment.Length from float to int

In [131]:
data['Employment.Length'] = data['Employment.Length'].astype(int)

Remove % sign from Debt.To.Income.Ratio

In [132]:
data["Debt.To.Income.Ratio"] = data["Debt.To.Income.Ratio"].str.replace("%","")

Create a new column to check Interest Slab according to Interest.Rate 


> Low Rate - < 10%

> Mid Rate - 10-20%

> High Rate - > 20%

In [133]:
data["Interest.Slab"] = pd.cut(
    x=data["Interest.Rate"],
    bins=[1, 9, 19, np.inf],
    labels=["Low", "Mid", "High"],
)

#Encoding for Categorical Data

> We will use Label Encoding for all categorical variables.

Loan.Purpose

In [135]:
# Import label encoder
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'species'.
data['Loan.Purpose']= label_encoder.fit_transform(data['Loan.Purpose'])
 
data['Loan.Purpose'].unique()

array([ 2,  1,  9,  8,  0, 12,  4,  5,  6,  3,  7, 13, 11, 10])

Home.Ownership

In [136]:
# Import label encoder
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'species'.
data['Home.Ownership']= label_encoder.fit_transform(data['Home.Ownership'])
 
data['Home.Ownership'].unique()

array([0, 4, 3, 2, 1])

Interest.Slab

In [137]:
# Import label encoder
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'species'.
data['Interest.Slab']= label_encoder.fit_transform(data['Interest.Slab'])
 
data['Interest.Slab'].unique()

array([1, 2, 0])

#Let us take a look at the cleaned data

In [138]:
data.head()

,CustID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Interest.Slab
0,81174,20000,20000.0,8,36,2,14.90,SC,0,6541,735,14.0,14272.0,2.0,1,1
1,99592,19200,19200.0,12,36,2,28.36,TX,0,4583,715,12.0,11140.0,1.0,2,2
2,80059,35000,35000.0,21,60,2,23.81,CA,0,11500,690,14.0,21977.0,1.0,2,0
3,15825,10000,9975.0,9,36,2,14.30,KS,0,3833,695,10.0,9346.0,0.0,5,1
4,33182,12000,12000.0,11,36,1,18.78,NJ,4,3195,695,11.0,14469.0,0.0,9,2

# Building Model

Determing the Independent (predictor) and Dependent (response) variables

In [144]:
# X -> features, y -> label
X = data.loc[:, ~data.columns.isin(['CustID', 'State', 'Interest.Slab'])]
Y = data['Interest.Slab']

Load libraries

In [166]:
# importing necessary libraries
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import matthews_corrcoef

Split Data

In [157]:
# dividing X, y into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

Decision Tree Classifier

In [167]:
# training a DescisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)
 
# creating a confusion matrix
cm = confusion_matrix(y_test, dtree_predictions)

# Matthew’s correlation coefficient for multiclass classification
print(matthews_corrcoef(y_test, dtree_predictions))

1.0

Support Vector Machine (SVM) Classifier

In [168]:
# training a linear SVM classifier
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_train, y_train)
svm_predictions = svm_model_linear.predict(X_test)
 
# model accuracy for X_test 
accuracy = svm_model_linear.score(X_test, y_test)
 
# creating a confusion matrix
cm = confusion_matrix(y_test, svm_predictions)

# Matthew’s correlation coefficient for multiclass classification
print(matthews_corrcoef(y_test, svm_predictions))

0.901938177601926

K-nearest neighbors (KNN) Classifier

In [170]:
# training a KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)
 
# creating a confusion matrix
knn_predictions = knn.predict(X_test)
cm = confusion_matrix(y_test, knn_predictions)

# Matthew’s correlation coefficient for multiclass classification
print(matthews_corrcoef(y_test, knn_predictions))

0.08941753609597851

Naive Bayes Classifier

In [172]:
# training a Naive Bayes classifier
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X_train, y_train)
gnb_predictions = gnb.predict(X_test)
 
# creating a confusion matrix
cm = confusion_matrix(y_test, gnb_predictions)

# Matthew’s correlation coefficient for multiclass classification
print(matthews_corrcoef(y_test, gnb_predictions))

0.8878276907768553

#Conclusion

Accuracy and F1 score computed on confusion matrices have been (and still are) among the most popular adopted metrics in binary classification tasks. However, these statistical measures can dangerously show overoptimistic inflated results, especially on imbalanced datasets. 

The Matthews correlation coefficient (MCC), instead, is a more reliable statistical rate which produces a high score only if the prediction obtained good results in all of the four confusion matrix categories (true positives, false negatives, true negatives, and false positives), proportionally both to the size of positive elements and the size of negative elements in the dataset.

![image.png]()

Decision Tree Classifier has the highest MCC score of 1 implying it is the best suited classification algorithm for the given data.
KNN, on the other hand has the least MCC score.